.tr-thead {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #6E6893;
}

.thead {
    padding: 15px;
    background: #F4F2FF;
}

.td-thead {
    padding: 15px;
    border-bottom: 1px solid #D9D5EC;
    border-top: 1px solid #D9D5EC;
}

.td-body {
    padding: 15px;
    border-bottom: 1px solid #D9D5EC;
    border-top: 1px solid #D9D5EC;
    text-align: center;
}

.long {
    width: 150px;
    text-align: center;
}

.width {
    padding: 15px 19px;
}

.svg {
    width: 50px;
}

.svg:hover {
    box-shadow: 0 0 5px #563fe8;
}

td {
    white-space: nowrap;
}